{% extends "base.html" %}

{% block title %}Stampee | Création timbre{% endblock %}

{% block body %}

<main class="creation">
    <section>
        <h1>Mon compte</h1>
        <nav class="menu">
            <ul>
                <li><a href="{{ url_racine }}compte" role="menuitem" aria-haspopup="false">Mes infos</a></li>
                <li><a href="{{ url_racine }}enchere" role="menuitem" aria-haspopup="false">Mes enchères</a></li>
                <li><a href="{{ url_racine }}timbre" role="menuitem" aria-haspopup="false">Mes timbres</a></li>
                <li><a href="{{ url_racine }}mise" role="menuitem" aria-haspopup="false">Mes mises</a></li>
            </ul>
        </nav>
    </section>
    <section>
        <h2>Création de timbre</h2>
        <form action="create" method="post" enctype="multipart/form-data">
            <span class="error">{{ errors | raw }}</span>
            <label for="nom">Nom*</label>
            <input type="text" name="nom" id="nom" required>
            <label for="date_creation">Date de création*</label>
            <input type="date" name="date_creation" id="date_creation" required>            
            <label for="couleurs">Couleur(s) dominante(s)*</label>
            <input type="text" name="couleurs" id="couleurs" required>
            <label for="tirage">Tirage*</label>
            <input type="number" name="tirage" id="tirage" required>
            <label for="dimensions">Dimensions*</label>
            <input type="text" name="dimensions" id="dimensions" required>
            <label for="certifie">Certifie*</label>
            <select id="certifie" name="certifie">
                <option value="">Sélectionner une réponse</option>
                <option value="1">Oui</option>
                <option value="0">Non</option>
            </select>
            <label for="pays">Pays*</label>
            <input type="text" name="pays" id="pays" required>
            <label for="origine_id">Région d'origine*</label>
            <select name="origine_id" required>
                <option value="">Sélectionner une région d'origine</option>
                {% for origine in origines %}
                    <option value="{{ origine.id }}">{{ origine.origine }}</option>
                {% endfor %}
            </select>
            <label for="condition_id">Condition*</label>
            <select name="condition_id" required>
                <option value="">Sélectionner une condition</option>
                {% for condition in conditions %}
                    <option value="{{ condition.id }}">{{ condition.condition }}</option>
                {% endfor %}
            </select>
            <label for="images">Image principale*</label>
            <input type="file" name="images[]" id="images" accept="image/*" multiple required>
            <input type="hidden" name="utilisateur_id" value="{{ utilisateur_id }}">
            <button type="submit">Ajouter</button>
        </form>
    </section>
</main>

{% endblock %}