:root {
    --couleur-principale: #FDF0D5;
    --couleur-secondaire: #003049;
    --couleur-accent: #669BBC;
    --couleur-item: #780000;
    --couleur-texte: #000000;
    --couleur-alerte: #DAA520;
    --couleur-erreur: #C1121F;
}