{% extends "base.html" %}

{% block title %}Stampee | Création enchère{% endblock %}

{% block body %}

<main class="creation">
    <section>
        <h2>Création d'enchère</h2>
        <form action="create" method="post">
            <span class="error">{{ errors | raw }}</span>
            <label for="timbre_id">Timbre*</label>
            <select name="timbre_id" required>
                <option value="">Sélectionner un timbre</option>
                {% for timbre in timbres %}
                    <option value="{{ timbre.id }}">{{ timbre.nom }}</option>
                {% endfor %}
            </select>                       
            <label for="date_debut">Début enchère*</label>
            <input type="date" name="date_debut" id="date_debut" required>         
            <label for="date_fin">Fin enchère*</label>
            <input type="date" name="date_fin" id="date_fin" required>
            <label for="prix_plancher">Prix plancher*</label>
            <input type="number" name="prix_plancher" id="prix_plancher" required>
            <label for="quantite">Quantité*</label>
            <input type="number" name="quantite" id="quantite" required>
            <label for="coup_de_coeur">Coup de coeur*</label>
            <select id="coup_de_coeur" name="coup_de_coeur" required>
                <option value="">Sélectionner une réponse</option>
                <option value="1">Oui</option>
                <option value="0">Non</option>
            </select>
            <input type="hidden" name="utilisateur_id" value="{{ utilisateur_id }}">
            <button type="submit">Ajouter</button>
        </form>
    </section>
</main>

{% endblock %}